@import 'styles/theme';

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 52px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.image {
  margin-left: 150px;
  position: relative;
  width: 150%;
  height: 300px;
}
.title {
  font-size: 38px;
  text-align: center;
  color: $darkViolet;
  margin-bottom: 0px;
}
.text {
  text-align: center;
  max-width: 500px;
  color: $gray;
}
.button {
  background-color: $cyan;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: none;
  margin-top: 16px;
  padding: 18px 36px 18px 36px;
  border-radius: 9999px;
}
