@import 'styles/theme';
@import 'styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 26px;
}

.cardImage {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 50%;
  background-color: $very-dark-blue;
  position: relative;
  top: -42px;
  margin-bottom: -42px;
}
.title {
  margin-bottom: 4px;
}

.text {
  color: $gray;
  line-height: 1.5rem;
  font-size: 16px;
  text-align: center;
}

@include breakpoint(tablet) {
  .container {
    max-width: 400px;
  }
}

@include breakpoint(large-desktop) {
  .container {
    position: relative;
    justify-content: center;
    width: 340px;
    height: 300px;
  }

  .cardImage {
    position: absolute;
    left: 34px;
    top: -42px;
  }
}
