@import 'styles/theme';
@import 'styles/breakpoints';

.container {
  background-color: $darkViolet;
  background-image: url('/assets/bg-boost-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 14px 96px 14px;
}

.title {
  text-align: center;
  color: white;
}

@include breakpoint(tablet) {
  .container {
    background-image: url('/assets/bg-boost-desktop.svg');
  }
}
