@import 'styles/theme';
@import 'styles/breakpoints';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
  padding-right: 28px;
}

.logo {
  position: relative;
  height: 33px;
  width: 121px;
}

.menuIcon {
  padding: 8px;
  font-size: 32px;
  color: $grayish-Violet;
}

.navbar {
  display: none;
  flex-grow: 1;
}

@include breakpoint(tablet) {
  .container {
    padding: 32px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

@include breakpoint(large-desktop) {
  .container {
    padding: 32px 64px 32px 128px;
  }
  .menuIcon {
    display: none;
  }
  .navbar {
    display: block;
  }
}
