@import 'styles/theme';

.container {
  background-color: $very-light-gray;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.content {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  top: -85px;
}
