@import 'styles/theme';

.container {
  background-color: $darkViolet;
  background-image: url('/assets/bg-shorten-mobile.svg');
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 28px;
  border-radius: 8px;
}

.input {
  font-size: 18px;
  color: $gray;
  width: 100%;
  border-radius: 4px;
  border: none;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.errorInput::placeholder {
  color: $red !important;
}

.errorInput:focus {
  outline: 3px solid $red !important;
}

.input:focus {
  outline: 3px solid $cyan;
}

.button {
  height: 50px;
  background-color: $cyan;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
  margin-top: 14px;
  padding: 0px 18px 0px 18px;
  border-radius: 8px;
}

.errorMessage {
  display: none;
  margin-top: 8px;
  color: $red;
  font-size: 12px;
  font-style: italic;
}

.show {
  display: block;
}
